*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 13px Arial,'EB Garamond', serif;
    box-sizing: border-box;  
} 
html{
    background-color: aliceblue;
    scroll-behavior: smooth;
    font-size: 62.5%;
}  
body{
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}

h1{
    text-align: left;
    box-sizing: content-box;
    height: fit-content;
    width: fit-content;
    color:   #213e61;
    font-size: 4rem;
}

.barra{
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
	
	width: 100%;
	left: 0; 
	top: 0; 
	position: fixed !important 
}

#logo{
    margin-left: 15rem;
    width: 15rem;
    height: 10rem;    
} 

.arrow-container{  
    height: 100vh;

} 
.arrow{
    color: #213e61;
    text-align: center;
    padding-top: 85vh;  
}

header{  
    background: url('imagenes/10.jpeg') no-repeat center;
    background-size: cover;
    align-content: center;
    height: 100vh;
    width: 100vw;
}
#servicios, #portfolio, #contacto{
    padding-top: 10vh;
}
.formu-container{
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    height: 100%;
    width: 90vw;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 1rem;
}
.formu-item{
    width: 40%;
}
iframe{
    border-radius: 2rem;
    margin-bottom: 5rem;
}
/* Formulario */
form{
    margin-left: 3rem;
    background-color: transparent;
    padding: 0 16px 16px 16px;
    border-radius: 10px;
    width: 30vw;
}
form label{
    width: 72px;
    font-weight: bold;
    display: inline-block;
}
form input[type="text"],[type="email"],[type="file"]{
	width:30vw;
	padding:3px 10px;
	border:3px solid #213e61;
	border-radius:3px;
	background-color:#e2d4d4;
	margin:8px 0;
	display:inline-block;
    font-size: 1rem;
}

form input[type="submit"],[type="reset"]{
    color: rgb(14, 14, 14); 
    background-color: #ebf0f7;
    box-shadow: 3px 3px 1px #0a6691;
    display: inline-block;
    margin: 1rem;
    text-align: center;
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 15px;
} 

form input[type="submit"],[type="reset"]:hover{
	cursor:pointer;
}

textarea{
	width:30vw;
	padding:3px 10px;
	border:3px solid #213e61;
	border-radius:3px;
	background-color:#e2d4d4;			
	margin:8px 0;
	resize:none;
	display:block;
    font-size: 15px;
    font-weight: bold;
}

/* MEDIA TABLET */
@media screen and (max-width: 800px) {
    .barra{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        box-sizing: content-box;
        position: fixed !important
    }
    #logo{
        width: 15rem;
        height: 10rem; 
        margin-right: 8rem;   
    } 

    nav{
        margin: 3rem;
    }
    ul{
        display:grid;
        list-style-type: none;
        grid-template-columns: repeat(1,1fr); 
        margin-right: 2rem;
        gap: 1rem;
    } 
    li{
        margin: 0.5rem;
        font-size: 1.2rem;
    } 
    
    
    li>a{
        text-decoration: none;
        color: rgb(14, 14, 14); 
        background-color: #ebf0f7;
        display: inline-block;
        margin: 1rem;
        padding: 10%;
        text-align: center;
        width: 10rem;
        height: fit-content ;
        box-shadow: 3px 3px 1px #0a6691;
        border-radius: 0.5rem;
        font-family: 'Montserrat', sans-serif;
    } 
    .grid-container{
        display: grid;
        justify-content: center;
        gap: 0.5rem;
    }
    .grid-item{
        display: grid;
        border-radius: 0.5rem;
        margin: 0.5rem;
        justify-items: center;
        justify-content: center;
        width: 100vw;
        gap: 2rem;
    }
    .grid-container2{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        gap: 25rem;
    }
    .grid-item2{
        display: flex;
        border-radius: 0.5rem;
        margin: 2.5rem;
        width: 80%;
        height: 53vh;
        gap: 1rem;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;   
    }
    
    
}
/* MEDIA LAPTOP */
@media screen and (min-width: 800px) and (max-width: 1050px){
    nav{
        margin: 3rem;
    }
    ul{
        display:grid;
        list-style-type: none;
        grid-template-columns: repeat(1,1fr); 
        margin-right: 2rem;
        gap: 1rem;
    } 
    li{
        margin: 0.5rem;
        font-size: 1.2rem;
    } 
    
    
    li>a{
        text-decoration: none;
        color: rgb(14, 14, 14); 
        background-color: #ebf0f7;
        display: inline-block;
        margin: 1rem;
        padding: 10%;
        text-align: center;
        width: 10rem;
        height: fit-content ;
        box-shadow: 3px 3px 1px #0a6691;
        border-radius: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        
    } 
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 2rem;
    }
    
    .grid-item{
        display: grid;
        border-radius: 0.5rem;
        margin: 0.5rem;
    }
    .grid-container2{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }
    .grid-item2{
        display: grid;
        border-radius: 0.5rem;
        margin: 2.5rem;
        width: 95%;
        height: 60vh;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        align-content: center;   
    }
    header{
        width: 110%;
    }
    article>div>img{
        width: 85%;
        height: 85%;
        border-radius: 2rem;
        border:2px solid #213e61; 
    }
    
    
    
} 

/* MEDIA DESK */
@media screen and (min-width:1050px){
    
    nav{
        margin: 3rem;
    }

    ul{
        display:flex;
        list-style-type: none;
        grid-template-columns: repeat(1,1fr); 
        margin-right: 2rem;
        gap: 1rem;
        
    } 
    li{
        margin: 0.5rem;
        font-size: 1.2rem; 
        width: fit-content;   
    } 
    li>a{
        text-decoration: none;
        color: rgb(14, 14, 14); 
        background-color: #ebf0f7;
        box-shadow: 3px 3px 1px #0a6691;
        display: inline-block;
        margin: 1rem;
        padding: 10%;
        text-align: center;
        width: 10rem;
        height: fit-content;
        text-size-adjust: 3.2rem;
        border-radius: 0.5rem;
        font-family: 'Montserrat', sans-serif;
    } 

 /* ANIMACION */
    a:hover {
        display: inline-block;
        padding: 15%;

        
        animation-delay: 0,9s;
        animation: fadeIn; 
        animation-duration: 2s;    
    }
      
      
    .grid-container2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100vw;
        gap: 0.5rem;
        height: 90vh;
        justify-content: center;
        justify-items: center;

    }
    .grid-item2{
        display: inline-flex;
        border-radius: 0.5rem;
        margin: 0.5rem;
        width: 80vw;
        height: 20vh;
        align-items: center;  
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 2rem;
    }
    
    .grid-item{
        display: grid;
        border-radius: 0.5rem;
        margin: 0.5rem;
    }
    article>div>img{
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        border:2px solid #213e61; 
    }
}




article>div>img{
    border-radius: 2rem;
    border:2px solid #213e61; 
} 

h2{
    color: black;
    text-align: center;
    font-size: 3.2rem;
    margin-top: 10px;
    height: fit-content;
}

div>div>img{
    height: 85%;
    width: 85%;
    border-radius: 2rem;
    border:2px solid #213e61; 
}  

.grid-item:hover {
    transition:all .5s ease-in-out;
    filter: saturate(120%);
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.texto1{
    text-align: center;
    font-size: 2rem;
    margin: 5rem;
    width: 85%;
    height: 85%;
}
#texto2{
    text-align: center;
    padding: 0.5rem;
    font-size: 22px;
    font-family: 'Arial', serif !important
}

.texto3{
    text-align: center;
    font-size: 1.6rem;
    box-sizing: content-box;
}


footer{
    background-color: #213e61;
    box-sizing: content-box;
    text-align: right;
    font-size: 1.5rem;
    padding: 0.5rem;
}
p{
    text-align: center;
    font-size: 2rem;
}
footer>p{
    color: black;
}
hr{
    height: 2px;
}

